/* Container principal da área de turmas */
.tela-turmas {
  margin-left: 250px;
  padding: 25px;
  height: auto;
  box-sizing: border-box;
  background: white;
}

/* Cabeçalho padronizado com base no header-usuarios */
.header-turmas {
  margin-top: 20px;
  margin-left: 250px;
  width: calc(100% - 250px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to right, #009c3b, #00c853);
  color: white;
  padding: 15px 20px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  box-sizing: border-box;
  flex-wrap: wrap;
  gap: 15px;
  font-size: 20px;
  font-weight: bold;
}

/* Container de formulário de cadastro de turma */
.container-form {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding: 0 10px;
  /* box-sizing: border-box; */
  background: #e2e2e2;
}

.container-form form {
  box-shadow: 5px 5px 8px #0000001f;
  background: white;
  padding: 20px 30px;
  border-radius: 10px;
  max-width: 900px;
  width: 100%;
  display: grid;
  gap: 2px 20px;
  /* box-sizing: border-box; */
}

.container-form label {
  font-weight: bold;
  margin-bottom: 0px;
  text-align: left;
}

.container-form input,
.container-form select {
  padding: 8px 10px;
  font-size: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
  /* box-sizing: border-box; */
  /* grid-column: span 2; */
  margin-bottom: 3px;
}

.container-form button[type="submit"] {
  width: 100%;
  justify-self: center;
  margin-top: 5px;
  padding: 10px;
  /* background-color: #009232; */
  color: white;
  font-size: 15px;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}



/* MODAL INCLUSÃO DE VINCULO TURMA*/
.modal-content {
  background: white;
  padding: 1.5rem;
  border-radius: 8px;
  max-width: 500px;
  width: 100%;
}
