:root {
  /* INTERFACE */
  --header-01: #009C3B;  /* HEADER EM DEGRADE */
  --header-02: #00C752;

  --aba-selecionada-01: #27B556; /* ABA SELECIONADA EM DEGRADE */
  --aba-selecionada-02: #1F8D44;

  --interface-background: #e2e2e2;

  --cards-background: #fff;
  --cards-shadow: #0000001a;
  
  --font-01: #fff; /*FONT CLARA*/
  --font-02: #000; /*FONT ESCURA*/
  --font-03: #757575; /* FONT CINZA - FILTROS HEADER*/

  /* BOTÕES */
  --botao-adicionar: #009232; /*TODOS OS BOTÕES DE ADICIONAR REGISTRO*/
  --botao-adicionar-hover: #00B341;
  --botao-adicionar-shadow: #00000033;

  --botao-salvar-cadastrar: ; /*TODOS OS BOTÕES PARA SALVAR CADASTRO/ALTERAÇÕES*/
  --botao-salvar-cadastrar-hover: ;

  --botao-excluir-registro: #bb0000; /*TODOS OS BOTÕES DE EXCLUIR*/
  --botao-excluir-registro-hover: #8B0000;

  --botao-paginacao: #4CAF50; /*TODOS OS BOTÕES DE PAGINAÇÃO*/
  --botao-paginacao-hover: #45A049;
  --botao-paginacao-desabilitado: #a5d6a7;

  --aba-desativo: #4e4e4e;
  --aba-ativo: #009232;

}

/* Container principal da área de turmas */
/* .tela-turmas {
  margin-left: 250px;
  padding: 25px;
  height: auto;
  box-sizing: border-box;
  background: white;
} */

/* Cabeçalho padronizado com base no header-usuarios */
/* .header-turmas {
  margin-top: 20px;
  margin-left: 250px;
  width: calc(100% - 250px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to right, #009c3b, #00c853);
  color: white;
  padding: 15px 20px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  box-sizing: border-box;
  flex-wrap: wrap;
  gap: 15px;
  font-size: 20px;
  font-weight: bold;
} */

/* Container de formulário de cadastro de turma */
.container-form {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding: 0 10px;
  /* box-sizing: border-box; */
  background: #e2e2e2;
}

.container-form form {
  box-shadow: 5px 5px 8px #0000001f;
  background: white;
  padding: 20px 30px;
  border-radius: 10px;
  max-width: 900px;
  width: 100%;
  display: grid;
  gap: 2px 20px;
  /* box-sizing: border-box; */
}

.container-form label {
  font-weight: bold;
  margin-bottom: 0px;
  text-align: left;
}

.container-form input,
.container-form select {
  padding: 8px 10px;
  font-size: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
  /* box-sizing: border-box; */
  /* grid-column: span 2; */
  margin-bottom: 3px;
}

.container-form button[type="submit"] {
  width: 100%;
  justify-self: center;
  margin-top: 5px;
  padding: 10px;
  /* background-color: #009232; */
  color: white;
  font-size: 15px;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}



/* MODAL INCLUSÃO DE VINCULO TURMA*/
.modal-content {
  background: white;
  padding: 1.5rem;
  border-radius: 8px;
  max-width: 500px;
  width: 100%;
}

.modal-confirm {
  background-color: green;
}
.modal-cancel {
  background-color: var(--botao-excluir-registro);
  transition: 0.2s ease;
}
.modal-cancel:hover{
  background-color: var(--botao-excluir-registro-hover);
}