@import url(../../App.css);

/* Container principal da tela, com espaçamento lateral para menu */
.pagina-padrao {
  margin-left: 250px;
  padding: 25px;
  background-color: #e9e9e9;
  min-height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
}


/* Estilo para lista de alunos dentro do container principal */
.pagina-padrao .MuiList-root {
  background-color: #e9e9e9;
  border-radius: 12px;
  padding: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Estilo individual dos alunos dentro do container principal */
.pagina-padrao .MuiListItem-root {
  padding: 10px 16px;
}

/* Estilo para o botão de adicionar dentro do container principal */
.pagina-padrao .MuiButton-root {
  background-color: #009232;
  color: white;
  padding: 10px 16px;
  border-radius: 10px;
  font-size: 1rem;
  transition: background-color 0.2s ease;
}

.pagina-padrao .MuiButton-root:hover {
  background-color: #006c24;
}

/**/
.rodape-principal {
  position: relative;
  display: flex; 
  justify-content: flex-end;
  align-items: center;
  padding: 0 2em;
}
.rodape-principal .paginacao-container-vinculo {
  text-align: center;
  user-select: none;
  
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex; 
  align-items: center
}

.adicionar-principal {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}          
.adicionar-principal button {
  height: 36px;
  color: var(--font-01);
  cursor: pointer;
}

.adicionar-principal button.botao-download {
  background-color: var(--botao-download);
}
.adicionar-principal button.botao-download:hover {
  background-color: var(--botao-download-hover);
}

/* BOTÃO COMPONENTE */
.MuiButton-root.botao-excluir {
  background-color: var(--botao-excluir-registro);
  color: var(--font-01);
}
.MuiButton-root.botao-excluir:hover {
  background-color: var(--botao-excluir-registro-hover);
}

.MuiButton-root.botao-adicionar-vinculo {
  background-color: var(--botao-adicionar);
  color: var(--font-01);
}
.MuiButton-root.botao-adicionar-vinculo:hover {
  background-color: var(--botao-adicionar-hover);
}

