/* .tela-turmas {
  padding: 20px;
}

.header-turmas {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tabela-turmas {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.tabela-turmas th,
.tabela-turmas td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}


.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-conteudo {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 300px;
}

.modal button {
  margin: 10px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  border: none;
}

.modal button:first-child {
  background-color: green;
  color: white;
}

.modal button:last-child {
  background-color: red;
  color: white;
}

.modal button:hover {
  opacity: 0.8;
} */
