:root {
  /* INTERFACE */
  --header-01: #009C3B;  /* HEADER EM DEGRADE */
  --header-02: #00C752;

  --aba-selecionada-01: #27B556; /* ABA SELECIONADA EM DEGRADE */
  --aba-selecionada-02: #1F8D44;

  --interface-background: #e2e2e2;

  --cards-background: #fff;
  --cards-shadow: #0000001a;
  
  --font-01: #fff; /*FONT CLARA*/
  --font-02: #000; /*FONT ESCURA*/
  --font-03: #757575; /* FONT CINZA - FILTROS HEADER*/

  /* BOTÕES */
  --botao-adicionar: #009232; /*TODOS OS BOTÕES DE ADICIONAR REGISTRO*/
  --botao-adicionar-hover: #00B341;
  --botao-adicionar-shadow: #00000033;

  --botao-salvar-cadastrar: rgb(209, 129, 8); /*TODOS OS BOTÕES PARA SALVAR CADASTRO/ALTERAÇÕES*/
  --botao-salvar-cadastrar-hover: rgb(155, 95, 5);

  --botao-excluir-registro: #bb0000; /*TODOS OS BOTÕES DE EXCLUIR*/
  --botao-excluir-registro-hover: #8B0000;

  --botao-detalhar: #0a4afa; /*TODOS OS BOTÕES DE PESQUISA/DETALHAR*/
  --botao-detalhar-hover: #2080ff;

  --botao-paginacao: #4CAF50; /*TODOS OS BOTÕES DE PAGINAÇÃO*/
  --botao-paginacao-hover: #45A049;
  --botao-paginacao-desabilitado: #a5d6a7;

  --botao-download: #0ac2fa; /*TODOS OS BOTÕES DE DOWNLOAD/IMPRESSÃO*/
  --botao-download-hover: #0990b9;

  --aba-desativo: #4e4e4e;
  --aba-ativo: #009232;

}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("assets/bg.webp") no-repeat;
  background-size: cover;
  background-position: center;
}
